#left_column {
	display:none !important;
}
#right_column {
	display:none !important;
}
#center_column {
	width:100%;
}
.red{
	color:red;
}
.padding_ten{
	padding:20px;
}
.left {
	float:left;
}
.right {
	float:right;
}
.full {
	width:100%;
}
.banner_error,.banner_img_error{
    float: left;
    width: 100%;
    display: none;
    text-align: center;
    color: #C1373C;
    margin-bottom: 10px;
    font-weight: bold;
}
.banner_form{
    float: left;
    width: 100%;
}
.halfleft {
	margin-left:5%;
	color: #F69415;
	width: 60%;
}
.halfright {
	width: 35%;
}
.center {
	text-align:center !important;
}
.banner_request_container {
	width:100%;
	padding-bottom:5%;
}
.back_link {
	float:right;
}
.header_link {
	width:70%;
}
#back_button {
	float: right;
    opacity: 1;
}
#back_button:hover {
	opacity:0.7;
}
.home_link {
    float: left;
    margin-right: 10px;
}
.banner_form_div{
	float: left;
    margin-top: 10px;   
    width: 100%;
	background-color: #FFFFFF;
    border: 1px solid #000000;
	border-top: 25px solid #383838;
}
.blog_category_form_div{
	float: left;
    margin-top: 10px;
    padding: 2.5%;
    width: 95%;
	background-color: #FFFFFF;
    border: 1px solid #000000;
	border-top: 25px solid #383838;
}
.row_info{
	float: left;
    padding-left: 10%;
    padding-top: 10px;
    width: 90%;
}
.row-info-left {
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 32px;
    margin-left: 10%;
    width: 25%;
}
.row-info-right {
    float: left;   
    width: 35%;
}
.blog_extra_setting{
	background-color: #DEDEDE;
	float:right;
	width:100%;
}
.mp_blog_category_table{
	margin-left:5%;
	width:90%;
	float:left;
}
.mp_blog_category_table .h .td {
    background-attachment: scroll;
    background-color: #766666;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat repeat;
    border-bottom: 1px solid #FBFBFB;
    border-right: 1px solid #ECF7FB;
    color: #FFFFFF;
    float: left;	
    font-weight: bold;
    padding: 6px 32px 8px 3px;
	text-align: center;
}
.category_color {
    background-color: #F5F8FF;
    background-repeat: repeat repeat;
    float: left;
    width: 100%;
}
.blog_category_form_div .category_color .td {
    background-attachment: scroll;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat repeat;
    border-right: 1px solid #F5F5F5;   
    float: left;
	width:100%;
    padding: 6px 30px 8px 5px;    
    word-wrap:break-word;
	text-align: center;
}
.blog_category_form_div .category_color:hover {
    background-color: #FFF1B5;
}

.blog_category_form_div .highlight {
    background-color: #FFFFAA;
}
#success_message {
	color: #008000;
	float: right;
	font-size: 18px;
	font-weight: bolder;
	margin-right: 50px;
    padding-right: 60px;
	display:none;
}
.mp_blog_change_category_status:hover{
	cursor:pointer;
}
.reg_sel_input{
	width:75%;
}
.post_message_info{
	color:green;
}
.uploader
{
    width: 75% !important;
}