
.footer-container{
    background-color: #ffffff;
    border-top:solid 1px;
    border-color:#0187d0;
}

.footer-container #footer h4, .footer-container #footer h4, .footer-container #footer #social_block h4, .footer-container #footer h4 a, .footer-container #footer #block_contact_infos > div ul li > span, .footer-container #footer #block_contact_infos > div ul li > span a, .footer-container #footer #block_contact_infos > div ul li i::before, .footer-container #footer #block_contact_infos > div ul li i{
    color: #0187d0;
}

.footer-container #footer a{
    color: #c0c0c0;
}

.footer-container #footer a:hover{
    color: #0187d0;
}

.footer-container #footer{
    color: #c0c0c0;
}


#footer #newsletter_block_left .form-group .form-control{
    background: #ffffff;
}

#footer #newsletter_block_left .form-group .form-control{
    border-color: #0187d0;
}

#footer #newsletter_block_left .form-group .form-control{
    color: #c0c0c0;
}



.footer-container #footer #social_block ul li a{
    color: #89c226;
}

.footer-container #footer #social_block ul li a:hover{
    color: #0187d0 !important;
}


header .nav, #languages-block-top ul, #currencies-block-top ul, #currencies-block-top div.current:hover, #currencies-block-top div.current.active{
    background: #0187d0;
}

#contact-link, .header_user_info, #languages-block-top, #currencies-block-top{
    border-left-color: #ffffff;
}
.header_user_info{
    border-right-color: #ffffff;
}



#contact-link a:hover, #contact-link a.active, .header_user_info a:hover, .header_user_info a.active, #languages-block-top ul li.selected, #languages-block-top ul li:hover a, #currencies-block-top ul li.selected, #currencies-block-top ul li:hover a{
    background: #89c226 !important;
}




.sf-menu > li.sfHover > a, .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a{
    color: #fff !important;
}



.top-hr{
    background: #0187d0;
}


#home-page-tabs > li{
    border-left-color: #0187d0;
}



ul.product_list.list > li .product-image-container, ul.product_list.list .color-list-container ul li, #subcategories ul li .subcategory-image a, #subcategories ul li:hover .subcategory-image a, .pb-left-column #image-block, #thumbs_list li a:hover, #thumbs_list li a.shown, #thumbs_list li, .block .products-block li .products-block-image{
    border-color: #0187d0;
}



ul.product_list.grid > li .product-container .product-image-container .content_price, ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile, ul.product_list .product-image-container .quick-view-wrapper-mobile .quick-view-mobile:hover{
    background-color: #0187d0;
}








ul.step li.step_todo span{
    background-color: #ffffff;
}

ul.step li.step_todo{
    border-color: #c0c0c0;
}


ul.step li.step_done{
    background: #0187d0;
}

ul.step li.step_done{
    border-color: #c0c0c0;
}


ul.step li.step_current span{
    background-color: #89c226;
}

ul.step li.step_current{
    border-color: #c0c0c0;
}




.button.lnk_view, .button.exclusive-medium{
    border-color: #0187d0;
}



.button.button-medium{
    background: #89c226;
}

.button.button-medium{
    border-color: #0187d0;
}



.button.button-small span{
    background-color: #0187d0;
}




.button.button-medium.exclusive span{
    background-color: #89c226;
}

.button.button-medium.exclusive{
    border-color: #0187d0;
}



.new-label{
    background-color: #89c226;
}



 


.label-success, ul.product_list .availability span.available-now{
    background-color: #89c226;
}
 
.label-success, ul.product_list .availability span.available-now{
    border-color: #0187d0;
}
 
 








    

        
        
        header{
        -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
    }
        
        
        
        
        
    
        
    
   
            
    
    
    

    
    
